@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme{
    --color-dark-1: #111111;
    --color-dark-2: #202020;
    --color-dark-3: #343a40;
    --color-dark-4: #495057;
    --color-white-1: #f8f9fa;
    --color-white-2: #e3e3e3;
    --color-whtie-3: #dee2e6;
    --color-white-4: #ced4da;
    
}

@layer base{
    body{
        @apply p-2 bg-white-1 text-dark-1 dark:bg-dark-1 dark:text-white-2 transition duration-300
    }

    .timer-btn{
        @apply px-4 py-1.5 rounded rounded-md border border-white-4 hover:bg-white-2 dark:border-dark-4 dark:bg-dark-2 dark:hover:bg-dark-3 transition cursor-pointer
    }
}